@charset "UTF-8";
/*style.css */
@import url(
'https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: purple;
    font-family: 'Poppins', sans-serif;
    color:white;

}
.sub-menu-wrap{
	position:absolute;
	top:12%;
	right:10%;
	width:320px;
	max-height: 0px;
	overflow:hidden;
	transition :max-height o.5s;
	border-radius: 40px;
	color:white;
}

.sub-menu-wrap.open-menu{
	max-height:400px;
}

.sub-menu{
	background:purple;
	padding:20px;
	padding-top:5px;
	margin:10px;
}
.userinfo{
	display:flex;
	align-items:center;
}

.userinfo h3{
	font-weight:500;
}

.userinfo img{
	width:60px;
	border-radius:50%;
	margin-right:15px;
	padding-bottom:10px;
	padding-top:10px;
}
.submenu hr{
	border:0;
	height:1px;
	width:100%;
	margin:15px 0 10px;
} 

.sub-menu-link{
	display:flex;
	align-items:center;
	text-decoration:none;
	color:white;
	margin: 12px 0;
}

.sub-menu-link p{
	width:100%
}

.sub-menu-link img{
	width:40px;
	background: rgb(0,0,0,0.3);
	padding:8px;
	margin-right:15px;
}

.sub-menu-link span{
	font-size:22px;
	transition:transform 0.5s;
}
.sub-menu-link:hover span{
	transform:translatex(5px);
}

.sub-menu-link:hover p{
	font-weight: 600;
}

.navbar ul img{
	width:55px;
	margin-top:-17px;	
}
.navbar:hover ul img{
	cursor:pointer;
}
nav {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: purple;
}

nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: rgb(128, 0, 128,0.3);
}

nav ul li a:hover {
    color: white;
}

nav .sideMenuButton {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    /* display: none; */
}

.textup {
    text-align: center;
    color: white;
    font-weight: 700;
}

i {
    margin-right: 3px;
}

.form-box {
    background-color: rgb(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 500px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.radio-group {
    display: flex;
    margin-bottom: 16px;
}

input[type="radio"] {
    margin-right: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    color: white;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;

}

button {
     height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            #e200e2, rgb(108 1 108));
    font-size: 22px;
    color:white;
    font-weight:500px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition: .2s linear;
}

button:hover {
    background-color: #0a6808;
    border: none;
    transform: translateY(-10px);
}

h1 {
    color: green;
}