
*{
list-style: none;
font-family: "Times New Roman", Times, serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: #181c1d;
}

.wrapper{
    width: 100%;
    height:100%;
}

.lboard_section{
    width: 500px;
    height: 400px;
    margin: 100px auto 0;
    background: rgb(128,0,128,0.6);
    border-radius: 5px;
    padding: 25px 40px;
    position: relative;

}

.lboard_section ul{

display: flex;

}

.lboard_section ul li{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.lboard_section ul li:hover,
.lboard_section ul li.active{

    color: #fff;
}

.lboard_wrap{
    position: absolute;
    top: 70px;
    left: 40px;
    background: purple;
    width:100%;
    height:100%;
    border-radius:5px;
}

.lboard_wrap .lboard_item{
    padding: 25px;
}

.lboard_wrap .lboard_item .lboard_mem{
    display: flex;
    align-items: center;
    padding:25px 0;
    border-bottom: 1px solid #ffe773;

}

.lboard_wrap .lboard_item .lboard_mem:first-child{
    padding-top: 0;
}



.lboard_wrap .lboard_item .lboard_mem:last-child{
    border-bottom: 0;
    padding-bottom: 0;
   
}
.lboard_wrap .lboard_mem{
    width: 50px;
}

.lboard_wrap .lboard_mem {
    display: block;
    width:100%;
}


.lboard_wrap .lboard_item .name_bar{
    margin: 0 20px;
    width: calc(100% - 150px);
}


.lboard_wrap .lboard_item .name_bar p span{
    margin-right: 5px;
}

.lboard_wrap .lboard_item .points{
    width: 100px;
}

.lboard_wrap .lboard_item .bar_wrap{
    height: 5px;
    width:100%;
    background: #c49eec;
    border-radius:5px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.lboard_wrap .lboard_item .bar_wrap .inner_bar{
    position:absolute;
    top: 0;
    left: 0;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px ;
}