<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>About Jolly</title>

<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
	<nav>
		<div class="heading">
			<a href="/"><img src="asset\images\JollyLogo.png" height="50px"></a>
		</div>

		<div class="navbar">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/diary">My Diary</a></li>
				<li><a href="/leaderboard">Leader board</a></li>
				<li><a href="/about">About</a></li>
				<li><img src="asset\images\JollyProfile.png" onClick="toggleMenu()"></li>
			</ul>
			<div class="sub-menu-wrap" id="subMenu">
				<div class="sub-menu">
					<div class="userinfo">
						<img src="asset\images\JollyProfile.png">
						<h3>Username</h3>
					</div>
					<hr>
					<a href="#" class="sub-menu-link"> <img
						src="asset\images\EditProfileLogo.png">
						<p>Edit Profile</p> <span>></span>
					</a> <a href="#" class="sub-menu-link"> <img
						src="asset\images\SettingsLogo.png">
						<p>Settings and privacy</p> <span>></span>
					</a> <a href="/feedback" class="sub-menu-link"> <img
						src="asset\images\HelpLogo.png">
						<p>Help and Support</p> <span>></span>
					</a> <a href="/logout" class="sub-menu-link"> <img
						src="asset\images\LogOutLogo.png">
						<p>Log out!</p> <span>></span>
					</a>
				</div>
			</div>
		</div>
	</nav>
	
	<div>
	<embed src="jolly.pdf" type="application/pdf" width="100%" height="900px" />
	</div>
	
	<script>
		let subMenu = document.getElementById("subMenu");
		function toggleMenu() {
			subMenu.classList.toggle("open-menu");
		}
	</script>
</body>
</html>