<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Jolly</title>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.min.js" defer></script>
</head>

<body>
    <nav>
        <div class="heading"><a href="index.html"><img src="asset\images\JollyLogo.png" height="50px"></a></div>


        <div class="navbar">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#">My Diary</a></li>
                <li><a href="#">Leaderboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>
    <h1>Jolly</h1>
    <div class="logs">
        <h3>Workout</h3>
        <span class="WorkoutLogs">
            <button id="playHappyJolly">Add to log</button>
        </span>
        <h3>Diet Logs</h3>
        <button>Add to log</button>
    </div>
    <div class="jolly">
        <iframe src='https://my.spline.design/jollyfoxhome-ef06bf76125fecf17b1012be6acbf4cf/' frameborder='0'
            width='700px' height='700px'>

        </iframe>
    </div>
    <div class="HappyJolly">
        <!-- <video id="HappyJolly" src="asset\videos\jolly-fox-happy.mp4" type="video.mp4">
                Your browser doesn't support the Happy Jolly Animation.
        </video>
         -->
        <iframe id="myIframe" src='https://my.spline.design/jollyfoxhappy-6a8f9487f9dcc0c5cc3903fb245dfee9/'
            frameborder='0' width='700px' height='700px'></iframe>
    </div>
    <div class="SadJolly">
        <iframe src='https://my.spline.design/jollyfoxsad-e0c6705d846054e649c392453955e519/' frameborder='0' width='700px'
            height='700px'></iframe>
    </div>

    <div class="Logs History">
        <table>
            <tr>
                <th>Date</th>
                <th>Workout</th>
                <th>Diet</th>
            </tr>
            <tr th:each="user:${user}">
                <th th.text="${user.date}"></th>
                <th th.text="${user.workout}"></th>
                <th th.text="${user.diet}">
            </tr>
        </table>
    </div>
    <script src="home.js"></script>
</body>

</html>