<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jolly Fitness Logs</title>
    <!-- Correctly reference CSS -->
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
	<nav>
        <div class="heading"><a href="index.html"><a href="index.html"><img src="asset\images\JollyLogo.png" height="50px"></a></div>
        <span class="sideMenuButton" onclick="openNavbar()">
            &#9776
        </span>

        <div class="navbar">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#">My Diary</a></li>
                <li><a href="#">Leaderboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>
	
    <div class="container">
        <form action="/addLog" method="post">
        	<h2>Fitness Tracker Logs</h2>
        	<br>
            <label>Choose a Workout : </label>
            <select name="workoutId" required>
                <option value="">Select a Workout</option>
                <th:block th:each="workout : ${workouts}">
                    <option th:value="${workout.id}" th:text="${workout.name}"></option>
                </th:block>
            </select>
			<br><br>
            <label>Choose a Nutrition Log</label>
            <select name="nutritionId" required>
                <option value="">Select a Nutrition Log</option>
                <th:block th:each="log : ${nutritionLogs}">
                    <option th:value="${log.id}" th:text="${log.description}"></option>
                </th:block>
            </select>
			<br><br>
            <button type="submit">Add Log</button>
        </form>
    </div>
    <div class="JollyPlacement">
    	<iframe src='https://my.spline.design/jollyfoxhome-ef06bf76125fecf17b1012be6acbf4cf/' frameborder='0' width='700' height='700'></iframe>
    </div>
    <div class="LogsHistory">
    	<h2>History</h2>
        <ul>
            <th:block th:each="log : ${userLogs}">
                <li>
                    <span th:text="'Workout: ' + ${log.workoutName}"></span>,
                    <span th:text="'Nutrition: ' + ${log.nutritionDescription}"></span>
                    (<span th:text="${log.timestamp}"></span>)
                </li>
            </th:block>
        </ul>
    </div>
</body>
</html>
