<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Diary</title>
        <link rel="stylesheet" href="css/notes.css">
    </head>
    <body>
    
    <nav>
		<div class="heading">
			<a href="/"><img src="asset\images\JollyLogo.png" height="50px"></a>
		</div>

		<div class="navbar">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/diary">My Diary</a></li>
				<li><a href="/leaderboard">Leaderboard</a></li>
				<li><a href="/about">About</a></li>
				<li><img src="asset\images\JollyProfile.png" onClick="toggleMenu()"></li>
			</ul>
			<div class="sub-menu-wrap" id="subMenu">
				<div class="sub-menu">
					<div class="userinfo">
						<img src="asset\images\JollyProfile.png">
						<h3>Username</h3>
					</div>
					<hr>
					<a href="#" class="sub-menu-link"> <img
						src="asset\images\EditProfileLogo.png">
						<p>Edit Profile</p> <span>></span>
					</a> <a href="#" class="sub-menu-link"> <img
						src="asset\images\SettingsLogo.png">
						<p>Settings and privacy</p> <span>></span>
					</a> <a href="/feedback" class="sub-menu-link"> <img
						src="asset\images\HelpLogo.png">
						<p>Help and Support</p> <span>></span>
					</a> <a href="/logout" class="sub-menu-link"> <img
						src="asset\images\LogOutLogo.png">
						<p>Log out!</p> <span>></span>
					</a>
				</div>
			</div>
		</div>
	</nav>

    
    
<th:block th:action="@{/diary}">
<div class="container">
    <h1><img src="asset/images/notes.png" >Diary</h1>
    
    <button class="btn"><img src="asset/images/edit.png" >Create notes</button>
<div class="notes-container">
<alert th:text="${message}"></alert>
        <!-- <p contenteditable="true" class="input-box">
        <img src="delete.png">
    </p>     -->

</div>
</div>
</th:block>
<script src="js/notes.js"> 
	
</script>


    </body>
</html>