<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Stopwatch </title>
        <link rel="stylesheet" href="/css/stopwatch.css">
        </head>
        <body>
        
        <nav>
		<div class="heading">
			<a href="/"><img src="asset\images\JollyLogo.png" height="50px"></a>
		</div>

		<div class="navbar">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/diary">My Diary</a></li>
				<li><a href="/leaderboard">Leaderboard</a></li>
				<li><a href="/about">About</a></li>
				<li><img src="asset\images\JollyProfile.png" onClick="toggleMenu()"></li>
			</ul>
			<div class="sub-menu-wrap" id="subMenu">
				<div class="sub-menu">
					<div class="userinfo">
						<img src="asset\images\JollyProfile.png">
						<h3>Username</h3>
					</div>
					<hr>
					<a href="#" class="sub-menu-link"> <img
						src="asset\images\EditProfileLogo.png">
						<p>Edit Profile</p> <span>></span>
					</a> <a href="#" class="sub-menu-link"> <img
						src="asset\images\SettingsLogo.png">
						<p>Settings and privacy</p> <span>></span>
					</a> <a href="/feedback" class="sub-menu-link"> <img
						src="asset\images\HelpLogo.png">
						<p>Help and Support</p> <span>></span>
					</a> <a href="/logout" class="sub-menu-link"> <img
						src="asset\images\LogOutLogo.png">
						<p>Log out!</p> <span>></span>
					</a>
				</div>
			</div>
		</div>
	</nav>

        
        
            <div class="stopwatch">
                <h1 id="displayTime">00:00:00</h1>
                <div class="buttons">
                    <img src="stop.png" onclick="watchStop()">
                    <img src="start.png" onclick="watchStart()">
                    <img src="reset.png" onclick="watchReset()">
                    </div>
                    </div>
                    <script>
                        let [seconds,minutes,hours] = [0,0,0];
                        let displayTime = document.getElementById("displayTime");
                        let timer = null;

                        function stopwatch(){
                            seconds++;
                            if(seconds==60){
                                seconds=0;
                                minutes++;
                                if(minutes==60){
                                    minutes=0;
                                    hours++;
                                }
                            }

                            let h = hours < 10 ? "0" + hours : hours;
                            let m = minutes < 10 ? "0" + minutes : minutes;
                            let s = seconds < 10 ? "0" + seconds: seconds;


                            displayTime.innerHTML = h +":"+ m +":"+ s;
                        }

                        function watchStart(){
                            if(timer!==null)
                            {
                                clearInterval(timer);
                            }
                          timer=  setInterval(stopwatch,1000);
                        }

                        function watchStop(){
                            clearInterval(timer);
                        }

                        function watchReset(){
                            clearInterval(timer);
                            [seconds,minutes,hours]=[0,0,0];
                            displayTime.innerHTML="00:00:00";
                        }
						
                        let subMenu = document.getElementById("subMenu");
                		function toggleMenu() {
                			subMenu.classList.toggle("open-menu");
                		}

                    </script>
            </body>
    

        </html>